*{
    padding: 0px;
    margin: 0px;
}
.main{
    overflow-x: hidden;
}
.page1{
    min-height: 100svh;
    width: 100%;
    background-color:#e5eaf5;
}
.page2{
    min-height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}
.page1 nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw 1vw;
}
.page1 nav .logo-img{
    display: flex;
    height: 5vw;
    width: 5vw;
    background-image: url("/img/apple-touch-icon.png");
    background-size: 5vw;
}
/* .............. */
.btnnav{
    display: flex;
    gap: 2vw; /*for gapping between the btns */
}
.btnnav h4{
    z-index: 3;
    position: relative;
    transition: all ease-in-out 0.5s;
}

.btnnav a{
    position: relative;
    display: flex;
    text-decoration: none;
    border: 0.2vw solid rgb(145, 92, 92);
    border-radius: 40px;
    font-size: 2vw;
    padding: 0.3vw 1.8vw;
    color: rgb(145, 92, 92);
    text-align: center;
    height: 4vw;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    z-index:2;   
}
.btnnav a::after{
    content: '';
    position:absolute;
    background-color: rgb(162, 97, 97);
    width: 100%;
    height: 100%;
    bottom: -100%;
    border-radius: 100%;
    left: 0;
    transition: all ease-in-out 0.3s;
    z-index:1;
}
.btnnav a:hover::after{
    bottom: 0;
    border-radius: 0px;    
}
.btnnav a:hover{
    color: white; 
}

